<template>
  <AppLayout>
    <template #header>
      <h2 class="text-xl font-semibold leading-tight text-gray-800">
        Employees
      </h2>
    </template>

    <div class="py-12">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="overflow-hidden bg-white shadow-xl sm:rounded-lg">
          <VEmployeeIndexTable />
        </div>
      </div>
    </div>
  </AppLayout>
</template>

<script>
/* Components */
import VEmployeeIndexTable from '@/Pages/Employee/VEmployeeIndexTable';

/* Layout */
import AppLayout from '@/Layouts/AppLayout';

export default {
  components: {
    AppLayout,
    VEmployeeIndexTable,
  },

  mounted() {
    this.$inertia.reload({
      only: ['managers'],
    });
  },
};
</script>
