<template>
  <AppLayout>
    <template #header>
      <nav class="flex" aria-label="Breadcrumb">
        <div class="flex sm:hidden">
          <inertia-link
            :href="route('employee.index')"
            class="inline-flex space-x-3 text-sm font-medium text-gray-500 group hover:text-gray-700"
          >
            <HeroiconArrowNarrowLeft
              class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-600"
            />
            <span>Back to Employees</span>
          </inertia-link>
        </div>

        <div class="hidden sm:block">
          <ol class="flex items-center space-x-4">
            <li>
              <div>
                <inertia-link
                  :href="route('dashboard')"
                  class="text-gray-400 hover:text-gray-500"
                >
                  <HeroiconHome class="flex-shrink-0 w-5 h-5" />
                  <span class="sr-only">Home</span>
                </inertia-link>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <IconSlash class="flex-shrink-0 w-5 h-5 text-gray-300" />
                <inertia-link
                  :href="route('employee.index')"
                  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
                >
                  Employees
                </inertia-link>
              </div>
            </li>
          </ol>
        </div>
      </nav>
    </template>

    <div class="py-3">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <VEmployeeShowDetail />
      </div>
    </div>
  </AppLayout>
</template>

<script>
/* Components */
import VEmployeeShowDetail from '@/Pages/Employee/VEmployeeShowDetail';

/* Layout */
import AppLayout from '@/Layouts/AppLayout';

export default {
  components: {
    AppLayout,
    VEmployeeShowDetail,
  },
};
</script>
