<template>
  <div class="min-h-screen bg-gray-100">
    <main class="py-10">
      <!-- Page header -->
      <div
        class="max-w-3xl px-4 mx-auto sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8"
      >
        <div class="flex items-center space-x-5">
          <div class="flex-shrink-0">
            <div class="relative">
              <img
                class="w-16 h-16 rounded-full"
                src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                alt=""
              />

              <span
                class="absolute inset-0 rounded-full shadow-inner"
                aria-hidden="true"
              />
            </div>
          </div>

          <div>
            <h1 class="text-2xl font-bold text-gray-900">
              {{ $page.props.employee.full_name }}
            </h1>

            <p
              v-if="$page.props.employee.current_department"
              class="text-sm font-medium text-gray-500"
            >
              Working at
              <inertia-link href="#" class="text-gray-900">
                {{ $page.props.employee.current_department.name }}
              </inertia-link>
              from
              <time datetime="2020-08-25">
                {{
                  $page.props.employee.current_department.from_date_formatted
                }}
              </time>
            </p>
          </div>
        </div>

        <div
          class="flex flex-col-reverse mt-6 space-y-4 space-y-reverse justify-stretch sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3"
        >
          <button
            type="button"
            class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
          >
            Contact
          </button>
        </div>
      </div>

      <div
        class="grid max-w-3xl grid-cols-1 gap-6 mx-auto mt-8 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3"
      >
        <div class="space-y-6 lg:col-start-1 lg:col-span-2">
          <!-- Description list-->
          <section aria-labelledby="applicant-information-title">
            <div class="bg-white shadow sm:rounded-lg">
              <div class="px-4 py-5 sm:px-6">
                <h2
                  id="applicant-information-title"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                  Employee Information
                </h2>

                <p class="max-w-2xl mt-1 text-sm text-gray-500">
                  Personal details.
                </p>
              </div>

              <div class="px-4 py-5 border-t border-gray-200 sm:px-6">
                <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Working at
                    </dt>
                    <dd
                      v-if="$page.props.employee.current_department"
                      class="mt-1 text-sm text-gray-900"
                    >
                      {{ $page.props.employee.current_department.name }}
                    </dd>
                    <dd v-else>
                      -
                    </dd>
                  </div>

                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Email address
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      email@example.com
                    </dd>
                  </div>

                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Salary
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{ $page.props.employee.current_salary | currency }}
                    </dd>
                  </div>

                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Phone
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      +1 555-555-5555
                    </dd>
                  </div>

                  <div class="sm:col-span-2">
                    <dt class="text-sm font-medium text-gray-500">
                      About
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      Fugiat ipsum ipsum deserunt culpa aute sint do nostrud
                      anim incididunt cillum culpa consequat. Excepteur qui
                      ipsum aliquip consequat sint. Sit id mollit nulla mollit
                      nostrud in ea officia proident. Irure nostrud pariatur
                      mollit ad adipisicing reprehenderit deserunt qui eu.
                    </dd>
                  </div>

                  <div class="sm:col-span-2">
                    <dt class="text-sm font-medium text-gray-500">
                      Attachments
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      <ul
                        class="border border-gray-200 divide-y divide-gray-200 rounded-md"
                      >
                        <li
                          class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                        >
                          <div class="flex items-center flex-1 w-0">
                            <HeroiconPaperClip
                              class="flex-shrink-0 w-5 h-5 text-gray-400"
                            />
                            <span class="flex-1 w-0 ml-2 truncate">
                              resume_back_end_developer.pdf
                            </span>
                          </div>
                          <div class="flex-shrink-0 ml-4">
                            <a
                              href="#"
                              class="font-medium text-indigo-600 hover:text-indigo-500"
                            >
                              Download
                            </a>
                          </div>
                        </li>
                        <li
                          class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                        >
                          <div class="flex items-center flex-1 w-0">
                            <HeroiconPaperClip
                              class="flex-shrink-0 w-5 h-5 text-gray-400"
                            />
                            <span class="flex-1 w-0 ml-2 truncate">
                              coverletter_back_end_developer.pdf
                            </span>
                          </div>
                          <div class="flex-shrink-0 ml-4">
                            <a
                              href="#"
                              class="font-medium text-indigo-600 hover:text-indigo-500"
                            >
                              Download
                            </a>
                          </div>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </section>
        </div>

        <section
          aria-labelledby="timeline-title"
          class="lg:col-start-3 lg:col-span-1"
        >
          <div class="px-4 py-5 bg-white shadow sm:rounded-lg sm:px-6">
            <h2 id="timeline-title" class="text-lg font-medium text-gray-900">
              Timeline
            </h2>

            <!-- Activity Feed -->
            <div class="flow-root mt-6">
              <ul class="-mb-8">
                <li
                  v-for="(department, index) in $page.props.employee
                    .departments"
                  :key="department.id"
                >
                  <div class="relative pb-8">
                    <span
                      v-if="
                        index !== $page.props.employee.departments.length - 1
                      "
                      class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200"
                      aria-hidden="true"
                    />

                    <div class="relative flex space-x-3">
                      <div>
                        <span
                          class="flex items-center justify-center w-8 h-8 bg-gray-400 rounded-full ring-8 ring-white"
                          :class="{
                            'bg-green-500':
                              index ===
                              $page.props.employee.departments.length - 1,
                          }"
                        >
                          <HeroiconUser
                            v-if="
                              index !==
                                $page.props.employee.departments.length - 1
                            "
                            class="w-5 h-5 text-white"
                          />
                          <HeroiconCheck v-else class="w-5 h-5 text-white" />
                        </span>
                      </div>

                      <div
                        class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4"
                      >
                        <div>
                          <p class="text-sm text-gray-500">
                            <span
                              v-if="
                                index !==
                                  $page.props.employee.departments.length - 1
                              "
                            >
                              Worked at
                            </span>
                            <span v-else>
                              Working at
                            </span>
                            <inertia-link
                              href="#"
                              class="font-medium text-gray-900"
                            >
                              {{ department.name }}
                            </inertia-link>
                          </p>
                        </div>

                        <div
                          class="text-sm text-right text-gray-500 whitespace-nowrap"
                        >
                          <time :datetime="department.from_date">
                            {{ department.from_date_formatted }}
                          </time>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex flex-col mt-6 justify-stretch">
              <button
                type="button"
                class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Transfer
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</template>
