<template>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
    <div class="py-10 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <BaseSearchFilter
        v-model="form.filter.search"
        autofocus
        class="w-full xl:w-4/6"
        @reset="reset"
      >
        <label for="filter-manager" class="block text-gray-700">
          Manager:
        </label>

        <select
          id="filter-manager"
          v-model="form.filter['records.manager_emp_no']"
          class="block w-full h-full py-2 pl-2 text-gray-500 bg-transparent border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 pr-7 sm:text-sm"
        >
          <option :value="null">
            -All-
          </option>

          <option
            v-for="manager in $page.props.managers"
            :key="manager.emp_no"
            :value="manager.emp_no"
          >
            {{ manager.full_name }}
          </option>
        </select>

        <label for="filter-date" class="block text-gray-700">
          Date:
        </label>

        <input
          id="filter-date"
          v-model="form.filter['on_record_date']"
          type="date"
        />
      </BaseSearchFilter>

      <div class="flex flex-col mt-5">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
            >
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      ID
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      First Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      Last Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      Birth Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      Gender
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      Hire Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                    >
                      Department
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50">
                      <span class="sr-only">View</span>
                    </th>
                  </tr>
                </thead>

                <tbody class="bg-white divide-y divide-gray-200">
                  <tr
                    v-for="employee in $page.props.employees.data"
                    :key="employee.emp_no"
                  >
                    <td
                      class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                    >
                      {{ employee.emp_no }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                    >
                      {{ employee.first_name }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                    >
                      {{ employee.last_name }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ employee.birth_date_formatted }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ employee.gender }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ employee.hire_date_formatted }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ employee.current_department }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                    >
                      <inertia-link
                        :href="
                          route('employee.show', { employee: employee.emp_no })
                        "
                        class="text-indigo-600 hover:text-indigo-900"
                      >
                        View
                      </inertia-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <BasePagination
        :links="$page.props.employees.links"
        :from="$page.props.employees.from"
        :to="$page.props.employees.to"
        :total="$page.props.employees.total"
      />
    </div>
  </div>
</template>

<script>
/* Vendor */
import throttle from 'lodash/throttle';

export default {
  data() {
    const recordsManagerEmpNo = this.$lodash.get(
      this.$page.props.request.query,
      'filter["records.manager_emp_no"]'
    );

    const onRecordDate = this.$lodash.get(
      this.$page.props.request.query,
      'filter["on_record_date"]'
    );

    return {
      form: {
        filter: {
          search: this.$page.props.request.query.filter?.search,

          'records.manager_emp_no': recordsManagerEmpNo
            ? Number(recordsManagerEmpNo)
            : null,

          on_record_date: onRecordDate,
        },
      },
    };
  },

  watch: {
    form: {
      handler: throttle(function() {
        const queryFilter = this.$lodash.pickBy(this.form.filter);

        this.$inertia.get(
          this.route('employee.index'),
          Object.keys(queryFilter).length ? { filter: queryFilter } : {},
          {
            replace: true,
            preserveState: true,
            preserveScroll: true,
            only: ['employees'],
          }
        );
      }, 150),
      deep: true,
    },
  },

  methods: {
    reset() {
      this.form.filter = this.$lodash.mapValues(this.form.filter, () => null);
    },
  },
};
</script>
