<template>
  <div
    class="flex items-center justify-between px-4 py-3 border-t border-gray-200 sm:px-6"
  >
    <!-- Mobile -->
    <div class="flex justify-between flex-1 sm:hidden">
      <inertia-link
        v-if="previous"
        :href="previous.url || ''"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:text-gray-500"
        :class="{
          'pointer-events-none': previous.active || previous.url === null,
        }"
      >
        {{ previous.label }}
      </inertia-link>

      <inertia-link
        v-if="next"
        :href="next.url || ''"
        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:text-gray-500"
        :class="{ 'pointer-events-none': next.active || next.url === null }"
      >
        {{ next.label }}
      </inertia-link>
    </div>

    <!-- Desktop -->
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p v-if="total" class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ from }}</span>
          to
          <span class="font-medium">{{ to }}</span>
          of
          <span class="font-medium">{{ total }}</span>
          results
        </p>

        <p v-else class="text-sm text-gray-700">
          No results
        </p>
      </div>

      <div>
        <nav
          class="relative z-0 inline-flex -space-x-px shadow-sm"
          aria-label="Pagination"
        >
          <template v-for="(link, key) in links">
            <inertia-link
              :key="key"
              :href="link.url || ''"
              class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 border border-gray-300 hover:bg-gray-50"
              :class="{
                'px-2': key === 0 || key === links.length - 1,
                'bg-white': link.active,
                'rounded-l-md': key === 0,
                'rounded-r-md': key === links.length - 1,
                'pointer-events-none': link.active || link.url === null,
              }"
            >
              <template v-if="key === 0">
                <span class="sr-only">{{ link.label }}</span>
                <HeroiconChevronLeft class="w-5 h-5" />
              </template>

              <template v-if="key === links.length - 1">
                <span class="sr-only">{{ link.label }}</span>
                <HeroiconChevronRight class="w-5 h-5" />
              </template>

              <template v-else>
                {{ link.label }}
              </template>
            </inertia-link>
          </template>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    links: {
      type: Array,
      default: () => [],
    },

    from: {
      type: Number,
      default: null,
    },

    to: {
      type: Number,
      default: null,
    },

    total: {
      type: Number,
      default: null,
    },
  },

  computed: {
    previous() {
      return this.links.length > 0 ? this.links[0] : null;
    },

    next() {
      return this.links.length > 0 ? this.links[this.links.length - 1] : null;
    },
  },
};
</script>
