<template>
  <div
    v-click-outside="hideDropdown"
    class="relative inline-block text-left"
    @keydown.esc="showDropdown = false"
  >
    <div>
      <button
        :id="id"
        type="button"
        class="inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 border border-r-0 border-gray-300 shadow-sm rounded-l-md bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        :class="
          integrated ? '' : 'focus:ring-offset-2 focus:ring-offset-gray-100'
        "
        aria-haspopup="true"
        :aria-expanded="showDropdown"
        @click="showDropdown = !showDropdown"
      >
        Filters
        <HeroiconChevronDown class="w-5 h-5 ml-2 -mr-1" />
      </button>
    </div>

    <!-- Dropdown panel -->
    <transition
      enter-active-class="transition duration-100 ease-out"
      enter-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
      <div
        v-show="showDropdown"
        class="absolute left-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5"
      >
        <div
          class="p-4"
          role="menu"
          aria-orientation="vertical"
          :aria-labelledby="id"
        >
          <slot />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },

    integrated: {
      type: Boolean,
    },
  },

  data() {
    return {
      showDropdown: false,
    };
  },

  methods: {
    hideDropdown() {
      this.showDropdown = false;
    },
  },
};
</script>
