<template>
  <div class="flex items-center">
    <div class="relative flex items-center w-full mt-1 rounded-md shadow-sm">
      <!-- Dropdown -->
      <BaseDropdown id="search-dropdown" integrated>
        <slot />
      </BaseDropdown>

      <BaseInput
        id="search"
        :value="value"
        label="Search"
        placeholder="Search..."
        :autofocus="autofocus"
        integrated
        class="w-full"
        @input="$emit('input', $event.target.value)"
      />
    </div>

    <button
      class="ml-3 text-sm text-gray-500 focus:outline-none hover:text-gray-700 focus:text-indigo-500"
      type="button"
      @click="$emit('reset')"
    >
      Reset
    </button>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, null, undefined],
      default: '',
    },

    autofocus: {
      type: Boolean,
    },
  },
};
</script>
