<template>
  <div class="relative">
    <label :for="id" class="sr-only">
      {{ label }}
    </label>

    <input
      :id="id"
      v-autofocus="autofocus"
      type="text"
      class="block w-full border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      :class="integrated ? 'rounded-none rounded-r-md' : 'rounded-md'"
      :placeholder="placeholder"
      :autocomplete="autocomplete"
      :value="value"
      @input="$emit('input', $event)"
      @keyup.enter="$emit('enter', $event.target.value)"
    />

    <div
      v-if="trailingIcon"
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <component :is="trailingIcon" class="w-5 h-5 text-gray-400" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },

    value: {
      type: String,
      default: null,
    },

    label: {
      type: String,
      required: true,
    },

    placeholder: {
      type: String,
      default: '',
    },

    autocomplete: {
      type: String,
      default: 'off',
    },

    autofocus: {
      type: Boolean,
    },

    trailingIcon: {
      type: String,
      default: null,
    },

    integrated: {
      type: Boolean,
    },
  },
};
</script>
